
  @import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  *{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}
  
  
  
  .navbar{
    display:flex;
    text-align: right;
   justify-content: space-between;
    margin-top: 94px;
    background-repeat: no-repeat;
}

 #navbar img{
position: absolute;
width: 65px;
height: 65px;
left: 180px;
top: 73px;
position: absolute;
width: 65px;
height: 65px;
left: 165px;
top: 73px;

 }
 #navbar p{
font-family:"Just Another Hand", cursive;
color:#000; 
position: absolute;
width: 102px;
height: 64px;
top: 74px;
left: 255px;
right: 1359px;
gap: 0px;
opacity: 0px;
font-size: 40px;
font-weight: 400;
line-height: 64.36px;
text-align: left;
font-style: normal;

 }
 #navbar p span{
  color: #FF014C ;
 }

 .navbar ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    left: 790px;
    top: 94px;
}
.navbar ul li{
    list-style: none;
    white-space:nowrap;
    width: 20%;
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    color:  #444444;
    text-transform: uppercase;
}
.navbar ul li span{
  font-family: Inter, sans-serif ;
  font-style: normal;
  text-decoration: none;
  color:  #444444;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  text-align: right;
  left: 792px;
  left: 790px;
  top: 60px;

}

#home span {
left: 45.83%;
right: 50.29%;
top: 2.6%;
bottom: 96.74%;
font-weight: 600;
}        

.navbar ul li a span:hover{
    color:#C40E61;
}
/*.navbar ul .btn{
    border: 2px solid #e2d703;
    color: #e2d703;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    background-color: #1d1a28;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}*/

.navbar .title h1{

    text-align: left;
    padding: 6px 12px;
    color:#FFFFFF;
    font-size: larger;
    text-decoration: none;
    inline-size: 1;
}



/* Home

position: absolute;
left: 45.83%;
right: 50.29%;
top: 2.6%;
bottom: 96.74%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 23.2601px;
line-height: 23px;
 */
/* News */

